{% extends 'flatpages/default.html' %}

{% block title %}
Announcements
{% endblock title %}

{% block content %}
{{ form.media }}
    {% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
    {% endfor %}
    <h1>Количество публикаций: {{ announcements|length }} </h1>
    <h1>Список постов</h1>
        {% if announcements %}
        <table>
            <tr>
                <td>Автор</td>
                <td>Название</td>
                <td>Дата публикации</td>
                <td>Текст</td>
                <td>Категория</td>
            </tr>
            {% for announcement in announcements %}
            <tr>
                <td>{{ announcement.author }}</td>
                <td><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.title }}</a></td>
                <td>{{ announcement.time_public|date:'d M Y' }}</td>
                <td>{{ announcement.text|safe }}</td>
                <td><a href="{% url 'category_list' announcement.category.id %}">{{ announcement.category }}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>Объявлений нет! =( </h2>
        {% endif %}
{% endblock %}
