{% extends 'flatpages/default.html' %}
{% load i18n %}

{% block title %}
Announcements
{% endblock title %}

{% block content %}
{{ form.media }}
    {% for model in models %}
    <div class="model-class">
        {{ model.name }}
    </div>
    {% endfor %}
    <h1>{% trans "Количество публикаций" %}: {{ announcements|length }} </h1>
    <h1>{% trans "Список постов" %}</h1>
        {% if announcements %}
        <table>
            <tr>
                <td>{% trans "Автор" %}</td>
                <td>{% trans "Название" %}</td>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Текст" %}</td>
                <td>{% trans "Категория" %}</td>
            </tr>
            {% for announcement in announcements %}
            <tr>
                <td>{{ announcement.author }}</td>
                <td><a href="{% url 'announcement_detail' announcement.id %}">{{ announcement.title }}</a></td>
                <td>{{ announcement.time_public|date:'d M Y' }}</td>
                <td>{{ announcement.text|safe }}</td>
                <td>{{ announcement.category }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <h2>{% trans "Новостей нет! =(" %} </h2>
        {% endif %}
{% endblock %}
