{% extends 'flatpages/default.html' %}

{% load i18n %}
{% block title %}
Announcement
{% endblock title %}

{% block content %}
    <h1>{{ Announcement.title }}</h1>
        <table>
            <tr>
               <td>{% trans "Название" %}</td>
               <td>{% trans "Текст" %}</td>
               <td>{% trans "Дата публикации" %}</td>
            </tr>
            <tr>
               <td>{{ announcement.title }}</td>
               <td>{{ announcement.text|safe }}</td>
               <td>{{ announcement.time_public|date:'d M Y' }}</td>
            </tr>
        </table>

{% endblock content %}
