{% extends 'flatpages/default.html' %}
{% load i18n %}

{% block title %}
    Поиск публикаций
{% endblock title %}

{% block content %}
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{%url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
<h1> Все объявления в категории {{ category }} </h1>
    <hr>
    {% if category_list %}
        <table>
            <tr>
                <td>{% trans "Название" %}</td>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Текст" %}</td>
                <td>{% trans "Категория" %}</td>
            </tr>

            {% for announcement in category_list %}
            <tr>
                <td>{{ announcement.title }}</td>
                <td>{{ announcement.time_post|date:'d M Y' }}</td>
                <td>{{ announcement.text|truncatechars:20 }}</td>
                <td>{{ announcement.category }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>{% trans "Объявлений нет! =("%} </h2>
    {% endif %}

{% endblock content %}